@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  font-family: 'Quicksand', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* border: 1px solid gray; */
}

body {
  background-color: ivory;
}

#container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
}

#title {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

#game {
  display: flex;
  justify-items: center;
  align-items: start;
  gap: 96px;
  margin: auto;
}

#commands {
  justify-self: center;
  align-self: center;
}

#grid-info {
  text-align: center;
}

#title {
  color: blue;
  margin: 0 auto;
}

#menu-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin-top: 30px;
}

#grid-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 540px;
  width: 540px;
}

.new-grid {
  border-left: 1pt solid gray;
  border-top: 1pt solid gray;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  display: flex;
  border-right: 1pt solid gray;
  border-bottom: 1pt solid gray;
  flex: 1;
}

#start-game,
.menu-btn {
  width: 100%;
  background: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#start-game:hover,
#start-game:active {
  background-color: initial;
  background-position: 0 0;
  color: darkolivegreen;
}

.menu-btn:hover,
.menu-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: darkcyan;
}

#start-game:active,
.menu-btn:active {
  opacity: 0.5;
}

#start-game {
  background: darkolivegreen;
  border: 1px solid darkolivegreen;
}

.btn-eraser {
  background: darkgoldenrod;
  border: 1px solid darkgoldenrod;
}

.btn-borders {
  background: darkslateblue;
  border: 1px solid darkslateblue;
}

.btns-space {
  margin: 5px;
}

#image {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}

#tips {
  text-align: center;
}

.tip {
  font-size: small;
}
