@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: ivory;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  margin: 1.5rem 0;
}

#header {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  color: #39bdb4;
  margin: 0 auto;
}

#game {
  display: flex;
  justify-items: center;
  align-items: start;
  gap: 96px;
  margin: auto;
}

#commands {
  justify-self: center;
  align-self: center;
}

#grid-info {
  text-align: center;
  margin: 10px 0;
}

#menu-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin-top: 30px;
}

#grid-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 540px;
  width: 540px;
}

.outer-borders {
  border: 1pt solid lightblue;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  display: flex;
  flex: 1;
}

.cell-borders {
  border: 0.5pt solid lightblue;
  border: 0.5pt solid lightblue;
}

#start-to-color,
.menu-btn {
  width: 100%;
  background: #01a4b2;
  border: 1px solid #01a4b2;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.menu-btn:hover,
.menu-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #01a4b2;
}

#start-to-color {
  background: #68bd47;
  border: 1px solid #68bd47;
}

#start-to-color:hover,
#start-to-color:active {
  background-color: initial;
  background-position: 0 0;
  color: #68bd47;
}

#start-to-color:active,
.menu-btn:active {
  opacity: 0.5;
}

.btn-color:focus {
  background-color: initial;
  background-position: 0 0;
  color: #01a4b2;
}

.btn-eraser {
  background: #ff9e01;
  border: 1px solid #ff9e01;
}

.btn-eraser:hover,
.btn-eraser:active,
.btn-white:focus {
  background-color: initial;
  background-position: 0 0;
  color: #ff9e01;
}

.btn-borders {
  background: #fe3471;
  border: 1px solid #fe3471;
}

.btn-borders:hover,
.btn-borders:active {
  background-color: initial;
  background-position: 0 0;
  color: #fe3471;
}

.btns-space {
  margin: 5px;
}

#color-value {
  font-size: smaller;
}

.btn-colorpicker,
#tips-title,
#picked-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-colorpicker {
  flex-direction: column;
}

#image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#tips {
  text-align: center;
  margin-top: 20px;
}

.tip {
  font-size: small;
  margin: 10px 0;
}

.plain-link {
  text-decoration: none;
  color: black;
}

#footer {
  color: white;
  font-size: small;
  background: #01a4b2;
  padding: 8px;
  margin-top: auto;
  text-align: center;
}

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex: auto;
}
#colorPicker::-webkit-color-swatch {
  border-radius: 100%;
  border: 1pt solid white;
}
#colorPicker::-moz-color-swatch {
  border-radius: 100%;
  border: none;
}
